<h3>Tipos primitivos</h3>
<ul>
  <li>isDone (boolean): {{isDone}}</li>
  <li>integer (number): {{integer}}</li>
  <li>decimal (number): {{decimal}}</li>
  <li>hex (number): {{hex}}</li>
  <li>binary (number): {{binary}}</li>
  <li>color (string): {{color}}</li>
  <li>composite (string) (`Texto & valores: $&#123;this.integer}`): {{composite}}</li>
  <li>composite2 (string) ('Texto & valores: ' + this.integer): {{composite2}}</li>
  <li>notAccessible (null) : {{notAccessible}}</li>
  <li>valueLess (undefined): {{valueLess}}</li>
  <li>tuple (tuple): {{tuple}}</li>
  <li>enumColorValue (enum Color): {{enumColorValue}}</li>
  <li>enumColorName (string): {{enumColorName}}</li>
  <li>notTyped1 (any): {{notTyped1}}</li>
  <li>notTyped2 (any): {{notTyped2}}</li>
  <li>notTyped3 (any): {{notTyped3}}</li>
  <li>notTyped4 (any): {{notTyped4}}</li>
  <li>immutable (any): {{immutable}}</li>
</ul>